*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    width: 100%;
    background-color: blue;
    position: fixed;
    display: flex;
    justify-content: center;
}
.nav li{
    float: none;
}

.link{
    text-decoration: none;
    padding: 20px 20px;
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 750;
    transition: transform 0.25s;
}

.link:hover{
    color: black;
    transform: translateY(-2px);
}