*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white
}

header{
    text-align: center;
}

body{
    padding-top: 70px;
    background-color: #1A1A2E;
}

.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    width: 100%;
    background-color: #FF6666;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 1000;
}
.nav li{
    float: none;
}

.link{
    text-decoration: none;
    padding: 20px 20px;
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 750;
    transition: transform 0.25s;
}

.link:hover{
    color: black;
    transform: translateY(-2px);
}

.ofertas{
    
}